var tools = {
  toFix_0: function (value) {       
    return value.toFixed(0)    
  },
  toFix_2: function (value) {       
      return value.toFixed(2) 
  },
  strlen: function(value) {   
    if(value==null)return 0; 
    return value.length
  },
  isHasPic: function(value){
    if(value==null)return false;
    if(value.indexOf('404')>=0)return false;
    if(value.length<2)return false;
    return true;
  },
  strToPlate: function(value) {  
    if(value==null)return null;   
    var len=value.length;
    var reStr="";
    for(var i=0;i<len;i++){
      reStr+=value[i];
      if(i==1)reStr+='·';
    }
    return reStr;
  },
  timeRemoveSecond: function(time){
    var reStr="";
    if(time==null||time.length!=19)return 'xxxx-xx-xx xx:xx';
    else{
      for(var i=0;i<16;i++){
        reStr+=time[i];
      }
      return reStr;
    }
  },
  timeRemoveSecond_unday: function(time){
    var reStr="";
    if(time==null||time.length!=8)return 'xx:xx';
    else{
      for(var i=0;i<5;i++){
        reStr+=time[i];
      }
      return reStr;
    }
  },
  isNearExpiration: function(nowDate,expireDate) { 
    if(nowDate==null||expireDate==null)return false;
    var nowDateStrs=nowDate.split("-"); 
    var expireDateStrs=expireDate.split("-"); 
    var day_=0;
    if(nowDateStrs.length==3&&expireDateStrs.length==3){
      day_+=expireDateStrs[2]-nowDateStrs[2];
      day_+=(expireDateStrs[1]-nowDateStrs[1])*30;
      day_+=(expireDateStrs[0]-nowDateStrs[0])*365;
      //console.log("isNearExpiration："+day_);
      return day_<5;
    }
    return false;
  },
  getExpirationTime: function(nowDate,expireDate){
    if(nowDate==null||expireDate==null)return 0;
    var nowTime = Date.parse(nowDate);
    var expireTime = Date.parse(expireDate);
    var lastTime=(expireTime-nowTime)/1000/60/60/24;
    return lastTime;
  },
  getTimeLen:function(second){
    var reStr="";
    if(second>=31536000){
      reStr+=(second/31536000+"年");
      second=second%31536000;
    }
    if(second>=86400){
      reStr+=(second/86400+"天");
      second=second%86400;
    }
    if(second>=3600){
      reStr+=(second/3600+"小时");
      second=second%3600;
    }
    if(second>=60){
      reStr+=(second/60+"分钟");
      second=second%60;
    }
    if(second>0){
      reStr+=(second+"秒");
    }
    return reStr;
  }
}

module.exports = {   
  toFix_0: tools.toFix_0,
  toFix_2: tools.toFix_2,
  strlen : tools.strlen,
  strToPlate: tools.strToPlate,
  isNearExpiration: tools.isNearExpiration,
  isHasPic: tools.isHasPic,
  timeRemoveSecond: tools.timeRemoveSecond,
  timeRemoveSecond_unday:tools.timeRemoveSecond_unday,
  getExpirationTime: tools.getExpirationTime,
  getTimeLen:tools.getTimeLen,
}